{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h1>About</h1>
        <hr>
        <span>Here is a list of the fruit we have catologued here at FruitBook.</span>

        <ul class="list-group">
            <li class="list-group-item">Apple</li>
            <li class="list-group-item">Watermelon</li>
            <li class="list-group-item">Banana</li>
            <li class="list-group-item">Orange</li>
            <li class="list-group-item">Grape</li>
            <li class="list-group-item">Rasberry</li>
            <li class="list-group-item">Mango</li>
            <li class="list-group-item">Pomegranite</li>
            <li class="list-group-item">Blueberry</li>
            <li class="list-group-item">Strawberry</li>
            <li class="list-group-item">Cantelope</li>
            <li class="list-group-item">Lemon</li>
            <li class="list-group-item">Lime</li>
            <li class="list-group-item">Grapefruit</li>
        </ul>

    </div>
{% endblock %}